{% extends "base.html" %}

{% block title %}
I was in "{{run.larp}}"
{% endblock %}

{% block content %}

<form method="post" action="">
 
<h1>I 
{% if run.is_past%} was {% else %} will be {% endif %}
in <a href="{{run.get_absolute_url}}">"{{ run }}"</a> at {{ run.startdate }}</h1>
<br>
{% csrf_token %}
<table>
    {{ form.as_table }}
    </table>
<p><input type="submit" value="Add to larp resume" /></p>
</form>

<p>
If the character you played is not listed, skip the drop-down and enter the character's name.
</p>
<p>
If you played a listed character under a different name (for instance, is usually "Robert" and you played "Roberta"), select the character from the drop down and fill out the 'name' box.
</p>
<p>
If you do not wish to specify a character, you may leave both the drop-down and the text box blank.
</p>
{% endblock %}

{% block sidebar %}

{% endblock sidebar %}
