{% extends "base_data.html" %}

{% block header %}

{% endblock header %}

{% block title %} 
{{ resumeUser.userProfile }}'s Larp Resume dd
{% endblock %}

{% block subhead %}

{% endblock subhead %}

{% block content %}

<h1>{{ resumeUser.userProfile }}'s Larp Resume<h1>

{% if cast_list %}
	{% regroup cast_list by type as type_list %}
	{% for type in type_list %}
		<h1>{{type.grouper}}</h1>
			<ul>
			{% if type.grouper == "Authored" %}
				{% for item in type.list %}	
				<li><strong><a href="{{item.cast.larp.get_absolute_url}}">{{ item.cast.larp }}</a></strong></li>
				{% endfor %}
			{% else %}
				{% for item in type.list %}
					{% ifchanged item.cast.run.startdate|date:'Y' %}
					</ul>
					<h2>{{ item.cast.run.startdate|date:'Y'|default:"Unknown date" }}</h2>
					<ul>
					{% endifchanged %}
					<li><strong><a href="{{ item.cast.run.get_absolute_url }}">{{ item.cast.run.larp }}</a></strong>
					{% if type.grouper == "Played" %}
						{% if item.show and item.cast.character %}
						as <a href="{{item.cast.character.get_absolute_url}}">{{item.cast.get_name}}</a>
						{% endif %}
					{% endif %}
					</li>
				{% endfor %}
			{% endif %}
			</ul>
	{% endfor %}
{% endif %}

{% endblock content %}

{% block sidebar %}
<ul>

{% ifequal aUser.username user.username %}
	<li><a href="/accounts/password/change">Change Password</a></li>
	<li><a href="/messages/inbox/">Message Inbox</a></li>

{% else %}{% if user.is_authenticated %}
	<li><a href="/messages/compose/{{aUser.username}}">Send {{aUser.username}} a message</a></li>
	{% endif %}
{% endifequal %}

</ul>
{% endblock sidebar %}
