{% extends "base.html" %}

{% load markup %}

{% block title %}
{{ series }}
{% endblock %}

{% block navigation %}
	<li><a href="/home/">Home</a></li>
	<li><a href="#">My Stuff</a></li>
	<li class="active"><strong>Games</strong></li>
	<li><a href="#">People</a></li>
	<li><a href="#">Forums</a></li>
{% endblock navigation %}

{% block subhead %}
{% endblock subhead %}

{% block content %}

	<article>
		<hgroup>
			<h1>{{ series.name }}</h1>
		</hgroup>		
		<dl>
		{% if series.url %}<dt>Homepage</dt><dd>{{ series.url|default:"" }}</dd>{% endif %}
		</dd>
		{% if series.description %}<dt>Description</dt><dd><p>{{ series.description|restructuredtext }}</p></dd>{% endif %}
		</dl>
	</article>
	
{% endblock %}

{% block sidebar %}
<h1>Related LARPs</h1>
	{% for item in larp_list %}
		<li><a href="{{ item.get_absolute_url }}">{{ item }}</a></li>
	{% endfor %}
{% endblock sidebar %}