{% extends "base_home.html" %}

{% block title %}

{% endblock %}

{% block subhead %}
{% endblock subhead %}

{% block content %}

<dl>
	<article>
		
		{% if character.larp in userProfile.get_larps %}
			<h1>{{character.name}}</h1>
			<dt>Description</dt><dd>{{character.publicDescription}}</dd>
		{% else %}
			{% if character.larp.spoilerability != 'ch' %}
				<h1>{{character.name}} </h1>
				<dt>Description</dt><dd>{{character.publicDescription}}</dd>
			{% else %}
				[character name redacted]
			{% endif %}
		{% endif %}

		<dt>LARP</dt><dd><a href="{{character.larp.get_absolute_url}}">{{ character.larp }}</a> </dd>
	</article>
	

</dl>
{% endblock %}

{% block sidebar %}

	{% if player_list %}
		<dt>Played by</dt>
		{% for player in player_list %}
			<dd><a href="{{player.user.userProfile.get_absolute_url}}">{{player}}</a>
				{% include "eventCRUD/role_include.html" %}
				</dd>
		{% endfor %}
	{% endif %}

{% endblock sidebar %}