{% extends "base_home.html" %}

{% block title %}
{{convention.title}}
{% endblock %}

{% block subhead %}
{% endblock subhead %}

{% block content %}

<dl>
	<article>
		<h1>
		{{convention.title}}
		</h1>
		<dt>Location</dt><dd>{{convention.location}}</dd>
		<dt>Date</dt><dd>
			{% if convention.startdate %}<time itemprop="startDate" datetime="{{convention.startdate}}">{{ convention.startdate|date }}</time>
				{% if convention.enddate %}
					{% if convention.enddate.toordinal != convention.startdate.toordinal %}
						 to <time itemprop="endDate" datetime="{{convention.enddate}}">{{ convention.enddate|date }}</time>
					{% endif %}
				{% else %}
				{% endif %}
			{% else %}
				{% if convention.tentative %}<i>to be determined</i>
				{% else %}
				not listed
				{% endif %}
			{% endif %}
		</dd>
		<dt>Games</dt>
		{% regroup run_list by startdate.date as date_list %}
		{% for date in date_list %}
			<h2>{{ date.grouper|date:"l" }}</h2>
			<ul>
			{% for run in date.list %}
				<li><a href="{{run.get_absolute_url}}">{{run.title}}</a></li>
			{% endfor %}
			</ul>
		{% endfor %}
	</article>

</dl>
{% endblock %}

{% block sidebar %}

	{% if player_list %}
		<dt>Played by</dt>
		{% for player in player_list %}
			<dd><a href="{{player.userProfile.get_absolute_url}}">{{player}}</a>
				as {% include "eventCRUD/role_include.html" %}
				</dd>
		{% endfor %}
	{% endif %}

{% endblock sidebar %}