<div id="event_list" class="box">
<h1>Upcoming Events</h1>
	<section>
		<h2></time>Friday, May 20</time></h2>
		<article>
		<header>
		<h3>Some Game</h3>
		<span class="timeloc">Chelmsford, MA @ <time>10 PM</time></span>
		<a href="http://someurl.com">GDD/Prague home page</a>
		</header>
		<p>
			Suspendisse auctor risus eu enim tincidunt volutpat. Ut ipsum lacus, porttitor et semper non, pharetra nec nulla. Suspendisse potenti. Etiam ullamcorper nisi sit amet mi pretium ornare. In ullamcorper tincidunt magna ut semper.</p>
		</article>
		<article>
		<header>
		<h3>Some Other Game</h3>
		<span class="timeloc">Chelmsford, MA @ <time>10 PM</time></span>
		<a href="http://someurl.com">GDD/Prague home page</a>
		</header>
		<p>
			Suspendisse auctor risus eu enim tincidunt volutpat. Ut ipsum lacus, porttitor et semper non, pharetra nec nulla. Suspendisse potenti. Etiam ullamcorper nisi sit amet mi pretium ornare. In ullamcorper tincidunt magna ut semper.</p>
		</article>
	</section>
	<hr></hr>
	<section>
		<h2></time>Saturday, May 21</time></h2>
		<article>
		<header>
		<h3>Some Game</h3>
		<span class="timeloc">Chelmsford, MA @ <time>10 PM</time></span>
		<a href="http://someurl.com">GDD/Prague home page</a>
		</header>
		<p>
			Suspendisse auctor risus eu enim tincidunt volutpat. Ut ipsum lacus, porttitor et semper non, pharetra nec nulla. Suspendisse potenti. Etiam ullamcorper nisi sit amet mi pretium ornare. In ullamcorper tincidunt magna ut semper.</p>
		</article>
		<article>
		<header>
		<h3>Some Game</h3>
		<span class="timeloc">Chelmsford, MA @ <time>10 PM</time></span>
		<a href="http://someurl.com">GDD/Prague home page</a>
		</header>
		<p>
			Suspendisse auctor risus eu enim tincidunt volutpat. Ut ipsum lacus, porttitor et semper non, pharetra nec nulla. Suspendisse potenti. Etiam ullamcorper nisi sit amet mi pretium ornare. In ullamcorper tincidunt magna ut semper.</p>
		</article>
		<article>
		<header>
		<h3>Some Game</h3>
		<span class="timeloc">Chelmsford, MA @ <time>10 PM</time></span>
		<a href="http://someurl.com">GDD/Prague home page</a>
		</header>
		<p>
			Suspendisse auctor risus eu enim tincidunt volutpat. Ut ipsum lacus, porttitor et semper non, pharetra nec nulla. Suspendisse potenti. Etiam ullamcorper nisi sit amet mi pretium ornare. In ullamcorper tincidunt magna ut semper.</p>
		</article>
	</section>
	<hr></hr>
	<section>
		<h2></time>Sunday, May 20</time></h2>
		<article>
		<header>
		<h3>Some Game</h3>
		<span class="timeloc">Chelmsford, MA @ <time>10 PM</time></span>
		<a href="http://someurl.com">GDD/Prague home page</a>
		</header>
		<p>
			Suspendisse auctor risus eu enim tincidunt volutpat. Ut ipsum lacus, porttitor et semper non, pharetra nec nulla. Suspendisse potenti. Etiam ullamcorper nisi sit amet mi pretium ornare. In ullamcorper tincidunt magna ut semper.</p>
		</article>
		<article>
		<header>
		<h3>Some Game</h3>
		<span class="timeloc">Chelmsford, MA @ <time>10 PM</time></span>
		<a href="http://someurl.com">GDD/Prague home page</a>
		</header>
		<p>
			Suspendisse auctor risus eu enim tincidunt volutpat. Ut ipsum lacus, porttitor et semper non, pharetra nec nulla. Suspendisse potenti. Etiam ullamcorper nisi sit amet mi pretium ornare. In ullamcorper tincidunt magna ut semper.</p>
		</article>
		<article>
		<header>
		<h3>Some Game</h3>
		<span class="timeloc">Chelmsford, MA @ <time>10 PM</time></span>
		<a href="http://someurl.com">GDD/Prague home page</a>
		</header>
		<p>
			Suspendisse auctor risus eu enim tincidunt volutpat. Ut ipsum lacus, porttitor et semper non, pharetra nec nulla. Suspendisse potenti. Etiam ullamcorper nisi sit amet mi pretium ornare. In ullamcorper tincidunt magna ut semper.</p>
		</article>
	</section>
</div>