<div id="annoucements_list">
	<div class="box">
		<h1>Announcements</h1>

		<article>
			<header>
				<h1 itemprop="summary">An Announcment</h1>
				<span class="timeloc"> <time datetime="2009-11-13">13 November 2009</time></span>
			</header>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi accumsan lectus vitae magna viverra gravida id posuere ante. Nunc sit amet ante at sem lobortis tincidunt nec vitae mi. Sed ac mattis odio. Cras pretium quam in sem lacinia fringilla. Duis elementum fringilla gravida. Donec ornare mi varius nisl tincidunt sit amet venenatis orci tempus. Nullam rutrum iaculis pretium. Proin quis magna turpis, lobortis tempus lacus. Nulla facilisi. Nunc est urna, malesuada a tincidunt vitae, ornare eu est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent id pretium odio. Pellentesque sit amet mi ligula, ac consequat lacus. Sed in diam in velit ornare pharetra. Suspendisse aliquet varius accumsan. Sed sit amet nulla sit amet leo sollicitudin feugiat.
			</p>
		</article>
	</div>
</div>